<div class="main-container">
    <div class="search-bar-cotaniner">
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Filter">
                <span class="icon is-small is-left">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
            </p>
        </div>
    </div>

    <div class="notes-list">
        <app-notes-card [title]="'cardTitle'" [body]="'This is body something we can write here'"></app-notes-card>
        <app-notes-card></app-notes-card>
        <app-notes-card></app-notes-card>
    </div>

</div>